.filtersContainer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding: 14px;
}

.totalActive {
    font-size: 16px;
    color: #777;
}

.filtersButtons {
    display: flex;
    align-items: center;
    gap: 14px;
}

.filtersButtons button, .clearCompleted {
    font-size: 16px;
    padding: 4px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background: none;
    color: #777;
}

.clearCompleted {
    visibility: hidden;
}

.clearCompletedShow {
    visibility: visible;
}

.filtersButtons button:hover, .clearCompleted:hover {
    background-color: #eee;
}